[Unit]
Description=Immich Redis Quadlet

[Container]
Image=docker.io/redis:7-alpine
AutoUpdate=registry
ContainerName=immich-redis

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

HealthCmd=redis-cli ping || exit 1

Volume=/media/raid-ssd-01/containers/immich/cache:/data:Z

Pod=immich.pod
Notify=healthy

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/immich/cache
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
