[Unit]
Description=Immich Postgres Quadlet

[Container]
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.3.0
AutoUpdate=registry
ContainerName=immich-postgres

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Secret=immich-postgres-password,type=env,target=POSTGRES_PASSWORD

Exec=postgres \
      -c shared_preload_libraries=vectors.so \
      -c 'search_path="$user", public, vectors' \
      -c logging_collector=on \
      -c max_wal_size=2GB \
      -c shared_buffers=512MB \
      -c wal_compression=on

HealthCmd=pg_isready --dbname="$${POSTGRES_DB}" --username="$${POSTGRES_USER}" || exit 1; \
        Chksum="$(psql --dbname="$${POSTGRES_DB}" --username="$${POSTGRES_USER}" --tuples-only --no-align \
        --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; \
        echo "checksum failure count is $Chksum"; \
        [ "$Chksum" = '0' ] || exit 1
HealthStartupInterval=5s

Volume=/media/raid-ssd-01/containers/immich/db:/var/lib/postgresql/data:Z

Pod=immich.pod
Notify=healthy

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/immich/db
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
