[Unit]
Description=Immich Postgres Quadlet
ConditionPathIsMountPoint=/media/raid-ssd-01

[Container]
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
AutoUpdate=registry
ContainerName=immich-postgres

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Secret=immich-postgres-password,type=env,target=POSTGRES_PASSWORD

Volume=/media/raid-ssd-01/containers/immich/db:/var/lib/postgresql/data:Z

Pod=immich.pod

ShmSize=128m

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/immich/db
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
