[Unit]
Description=Immich Redis Quadlet
ConditionPathIsMountPoint=/media/raid-ssd-01

[Container]
Image=docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63
AutoUpdate=registry
ContainerName=immich-redis

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Volume=/media/raid-ssd-01/containers/immich/cache:/data:Z

Pod=immich.pod

HealthCmd=redis-cli ping || exit 1
Notify=healthy

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/immich/cache
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
