[Unit]
Description=Stalwart Quadlet
ConditionPathIsMountPoint=/media/raid-ssd-01
Wants=stalwart-posgres.service
After=stalwart-postgres.service

[Container]
Image=docker.io/stalwartlabs/stalwart:latest
AutoUpdate=registry
ContainerName=stalwart-server

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Label="traefik.enable=true"
Label="traefik.http.routers.stalwart-server.rule=Host(`mail.betweenlayers.io`)"
Label="traefik.http.services.stalwart-server.loadbalancer.server.port=8080"

Label="traefik.tcp.routers.smtp.rule=HostSNI(`*`)"
Label="traefik.tcp.routers.smtp.entrypoints=smtp"
Label="traefik.tcp.routers.smtp.service=smtp"
Label="traefik.tcp.routers.smtp.rule=Host(`mail.betweenlayers.io`)"
Label="traefik.tcp.services.smtp.loadbalancer.server.port=2225"
Label="traefik.tcp.services.smtp.loadbalancer.proxyProtocol.version=2"

Label="traefik.tcp.routers.jmap.rule=HostSNI(`*`)"
Label="traefik.tcp.routers.jmap.tls.passthrough=true"
Label="traefik.tcp.routers.jmap.entrypoints=websecure"
Label="traefik.tcp.routers.jmap.service=jmap"
Label="traefik.tcp.routers.jmap.rule=Host(`mail.betweenlayers.io`)"
Label="traefik.tcp.services.jmap.loadbalancer.server.port=8443"
Label="traefik.tcp.services.jmap.loadbalancer.proxyProtocol.version=2"

Label="traefik.tcp.routers.smtps.rule=HostSNI(`*`)"
Label="traefik.tcp.routers.smtps.tls.passthrough=true"
Label="traefik.tcp.routers.smtps.entrypoints=smtps"
Label="traefik.tcp.routers.smtps.service=smtps"
Label="traefik.tcp.routers.smtps.rule=Host(`mail.betweenlayers.io`)"
Label="traefik.tcp.services.jmap.loadbalancer.server.port=8443"
Label="traefik.tcp.services.smtps.loadbalancer.server.port=4465"
Label="traefik.tcp.services.smtps.loadbalancer.proxyProtocol.version=2"

Label="traefik.tcp.routers.imaps.rule=HostSNI(`*`)"
Label="traefik.tcp.routers.imaps.tls.passthrough=true"
Label="traefik.tcp.routers.imaps.entrypoints=imaps"
Label="traefik.tcp.routers.imaps.service=imaps"
Label="traefik.tcp.routers.imaps.rule=Host(`mail.betweenlayers.io`)"
Label="traefik.tcp.services.imaps.loadbalancer.server.port=9993"
Label="traefik.tcp.services.imaps.loadbalancer.proxyProtocol.version=2"

Volume=/media/raid-ssd-01/containers/stalwart/data:/opt/stalwart:Z

Pod=stalwart.pod

Notify=true

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/stalwart/data
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
