[Unit]
Description=Yusef blog Quadlet

[Container]
Image=registry.absurdum.ca/yusefkarim/blog:latest
AutoUpdate=registry
ContainerName=blog-yusefkarim

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Environment=USER_UID=%U
Environment=USER_GID=%G
Environment=SERVER_THREADS_MULTIPLIER=2

Label="traefik.enable=true"
Label="traefik.http.routers.blog-yusefkarim.entrypoints=web,websecure,websecure-external"
Label="traefik.http.routers.blog-yusefkarim.rule=Host(`betweenlayers.io`)"
Label="traefik.http.services.blog-yusefkarim.loadbalancer.server.port=8000"

Network=main.network

HealthCmd=[[ "$(wget --quiet --no-check-certificate --server-response -O /dev/null \
             http://127.0.0.1:8000/health 2>&1 | awk '/^  HTTP/{print $2}' | tail -1)" == '200' ]]
HealthInterval=15s
HealthTimeout=1s
HealthRetries=3
HealthOnFailure=kill
Notify=healthy

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
