[Unit]
Description=Traefik Quadlet
Requires=http.socket https.socket podman.socket
After=http.socket https.socket podman.socket

[Container]
Image=docker.io/library/traefik
AutoUpdate=registry
ContainerName=traefik

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Secret=traefik-porkbun-dns-api-key,type=env,target=PORKBUN_API_KEY
Secret=traefik-porkbun-dns-secret-api-key,type=env,target=PORKBUN_SECRET_API_KEY

Label="traefik.enable=true"
Label="traefik.http.routers.dashboard.rule=Host(`traefik.absurdum.ca`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
Label="traefik.http.routers.dashboard.service=api@internal"
Label="traefik.http.routers.dashboard.middlewares=oauth2-proxy@file"
Label="traefik.http.routers.dashboard-auth.rule=Host(`traefik.absurdum.ca`) && PathPrefix(`/oauth2/`)"
Label="traefik.http.routers.dashboard-auth.service=oauth2-proxy"

Volume=%E/containers/config/traefik/traefik.yml:/etc/traefik/traefik.yml:Z
Volume=%E/containers/config/traefik/file:/etc/traefik/file:Z
Volume=/media/raid-ssd-01/containers/traefik/acme:/etc/traefik/acme:Z
Volume=%t/podman/podman.sock:/var/run/docker.sock

Network=reverse-proxy.network

Notify=true

# Disable label security to access Podman socket.
SecurityLabelDisable=true

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/traefik/acme
TimeoutStartSec=900
Restart=always
Sockets=http.socket https.socket

[Install]
WantedBy=multi-user.target default.target
