[Unit]
Description=Outline Server Quadlet
Wants=outline-postgres.service outline-redis.service
After=outline-postgres.service outline-redis.service
ConditionPathIsMountPoint=/media/raid-ssd-01

[Container]
Image=docker.io/outlinewiki/outline:latest
AutoUpdate=registry
ContainerName=outline-server

User=%U:%G
UserNS=keep-id:uid=%U,gid=%G

Environment=NODE_ENV=production
Environment=PGSSLMODE=disable
Environment=REDIS_URL=redis://outline-redis:6379
Environment=URL=https://docs.absurdum.ca
Environment=FILE_STORAGE=local
Environment=FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
Environment=FILE_STORAGE_UPLOAD_MAX_SIZE=26214400
Environment=WEB_CONCURRENCY=1
Environment=OIDC_CLIENT_ID=4c9205cb-d962-4484-a1e1-5af07df5a99f
Environment=OIDC_AUTH_URI=https://id.absurdum.ca/authorize
Environment=OIDC_TOKEN_URI=https://id.absurdum.ca/api/oidc/token
Environment=OIDC_USERINFO_URI=https://id.absurdum.ca/api/oidc/userinfo
Environment=OIDC_USERNAME_CLAIM=preferred_username
Environment=OIDC_DISPLAY_NAME="Pocket ID"
Environment=OIDC_SCOPES="openid profile email"
Environment=LOG_LEVEL=debug
Secret=outline-secret-key,type=env,target=SECRET_KEY
Secret=outline-utils-secret,type=env,target=UTILS_SECRET
Secret=outline-database-url,type=env,target=DATABASE_URL
Secret=outline-oidc-client-secret,type=env,target=OIDC_CLIENT_SECRET

Label="traefik.enable=true"
Label="traefik.http.routers.outline.rule=Host(`docs.absurdum.ca`)"
Label="traefik.http.services.outline.loadbalancer.server.port=3000"

Volume=/media/raid-ssd-01/containers/outline/data:/var/lib/outline/data:Z

Pod=outline.pod

Notify=true

[Service]
ExecStartPre=-/usr/bin/mkdir -p /media/raid-ssd-01/containers/outline/data
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
